.bottom-area {
    height: 50px;
    width: 100%;

    .message-form {
        display: flex;
        height: inherit;

        .text-input {
            border-bottom: none;
            border-left: none;
            border-radius: 0;
            width: 80%;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            resize: none;
            padding: 10px;
            box-sizing: content-box;
            height: 30px;
        }

        .send-message-button {
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            padding: 20px;
            display: inline-block;
            border: none;
            width: 20%;
        }

        input:focus, textarea:focus, select:focus, button:focus {
            outline: none;
        }        
    }
}